# Dependencies
node_modules/

# Environment variables
# Environment files
.env
.env.*
*.env
*.env.*


# Build output
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
